<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8" />
  <title th:text="${boardName}">게시판</title>

</head>
<body>

<h1 th:text="${boardName}">자유게시판</h1>

<div th:each="article : ${articles}" class="post">
  <h2 th:text="${article.title}">제목</h2>
  <div class="post-meta">
    <span th:text="${article.author}"></span> |
    <span th:text="${article.writeDateTime}"></span>
  </div>
  <div class="post-content" th:text="${article.content}">
  </div>
</div>

</body>
</html>
